Repository rem1776/FMS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wrongkindofdoctor, @thomas-robinson, @colingladueNOAA, @underwoo, @uramirez8707, @mlee03, @bensonr, @GFDL-Eric, @ngs333

Correct Fortran STOP statement in mpp test programs
  test_fms/mpp/test_mpp_mem_dump.F90
  test_fms/mpp/test_mpp_memuse.F90
Owners: @wrongkindofdoctor, @thomas-robinson, @colingladueNOAA

Correct syntax error in test_common.sh.in
  test_fms/test_common.sh.in
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor, @colingladueNOAA

Update .travis.yml file to clear Travis CI warnings
  .travis.yml
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor, @colingladueNOAA

Modify GNU autotools files for 2020.01 release
  configure.ac
  libFMS/Makefile.am
Owners: @underwoo, @colingladueNOAA

Correct additional syntax error in test_common.sh.in
  test_fms/test_common.sh.in
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor, @colingladueNOAA

Fix the check for the Fortran class/char array/assign bug
  configure.ac
  m4/gx_compiler_bugs.m4
Owners: @underwoo

Renamed gx_compiler_bugs.m4 to gx_compiler_bug_checks.m4
  m4/gx_compiler_bug_checks.m4
Owners: @underwoo

Zhi nest merge required test fixes (#1)
  diag_integral/Makefile.am
  test_fms/test_common.sh.in
Owners: @underwoo, @uramirez8707, @mlee03, @bensonr, @thomas-robinson, @wrongkindofdoctor, @colingladueNOAA

.github/CODEOWNERS:

#***********************************************************************
#*                   GNU Lesser General Public License
#*
#* This file is part of the GFDL Flexible Modeling System (FMS).
#*
#* FMS is free software: you can redistribute it and/or modify it under
#* the terms of the GNU Lesser General Public License as published by
#* the Free Software Foundation, either version 3 of the License, or (at
#* your option) any later version.
#*
#* FMS is distributed in the hope that it will be useful, but WITHOUT
#* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
#* for more details.
#*
#* You should have received a copy of the GNU Lesser General Public
#* License along with FMS.  If not, see <http://www.gnu.org/licenses/>.
#***********************************************************************
#
# Each line is a file pattern followed by one or more owners.  The owner
# can be specified by their @username, or an email address.
#
# Order is important.  The last matching pattern takes the most precedence.

# These owners will be the default owners for all the files in the
# repository.  Unless a later match is found, these owners
# will be requested for a review when a PR is opened.
*          @wrongkindofdoctor @thomas-robinson @colingladueNOAA

# GNU autotools files
Makefile.am      @underwoo
/configure.ac    @underwoo
/m4/             @underwoo
*.m4             @underwoo

# Files specific to GitHub or GitLab
/.github/        @underwoo
/.gitlab/        @underwoo

# Testing files
/.gitlab-ci.yml  @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor @colingladueNOAA
/.travis.yml     @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor @colingladueNOAA
/test_fms/       @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor @colingladueNOAA

# Specific component directories
/affinity/          @bensonr
/test_fms/affinity/ @bensonr @colingladueNOAA

/block_control/          @bensonr
/test_fms/block_control/ @bensonr @colingladueNOAA

/data_override/          @GFDL-Eric
/test_fms/data_override/ @GFDL-Eric @colingladueNOAA

/diag_manager            @thomas-robinson @underwoo @ngs333
/test_fms/diag_manager/  @thomas-robinson @underwoo @ngs333 @colingladueNOAA

/fv3gfs/          @bensonr

/fms/             @wrongkindofdoctor @thomas-robinson
/test_fms/fms/    @wrongkindofdoctor @thomas-robinson @colingladueNOAA
/fms2/            @wrongkindofdoctor @thomas-robinson
/test_fms/fms2/   @wrongkindofdoctor @thomas-robinson @colingladueNOAA

/libFMS/           @underwoo @colingladueNOAA

/mpp/              @wrongkindofdoctor @thomas-robinson
/test_fms/mpp/     @wrongkindofdoctor @thomas-robinson @colingladueNOAA
